<!-- Stuctural Directives 
 
    ngIf Directive(oldest way) -->


<!-- <h1 *ngIf = "islogedIn">{{userName}}</h1> -->

<!-- new way -->
 <!-- @if (islogedIn) {
    <h1>{{userName}}</h1>
 }
 @else{
  <h1>üser isnt loged in </h1>
 } -->

                                  <!-- mutiple conditions -->
 <!-- ng if and else approach -->


<!-- <h1 *ngIf="isAdmin; else  memberMessage ">Welcome Admin</h1>

<ng-template #memberMessage> 
<h1 *ngIf="isMember; else guestMessage ">Wecome Member</h1>
</ng-template>

<ng-template #guestMessage>
  <h1 *ngIf="isGuest">Welcome Guest </h1>
</ng-template> -->

<!-- @if, @else sytax approach -->
 
@if (isAdmin) {
  <h1>Welcome Admin</h1>
}
@else if (isMember) {
  <h1>Welcome Member</h1>
}
@else if(isGuest){
  <h1>Welcome Guest</h1>
}